*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px , 10px/16px = 62.5%
	transition: 0.1s;

	@media only screen and(max-width: $bp-largest) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 45%;
	}
}

body {
	font-weight: 300;
	font-family: $font-primary;
	color: $color-grey-dark-2;
	line-height: 1.7;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-rows: 80vh min-content 40vw repeat(3, max-content);
	grid-template-columns:
		[sidebar-start] minmax(8rem, min-content) [sidebar-end full-start] minmax(
			6rem,
			1fr
		)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr) [full-end];

	& > * {
		padding: 40px;
		font-size: 1rem;
	}

	@media only screen and(max-width: $bp-large) {
		grid-template-rows: minmax(3rem, 5rem) 80vh min-content 40vw repeat(
				3,
				min-content
			);
		grid-template-columns:
			[full-start] minmax(6rem, 1fr)
			[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
			[center-end] minmax(6rem, 1fr) [full-end];
	}

	@media only screen and(max-width: $bp-medium) {
		grid-template-rows: minmax(3rem, 5rem) calc(90vh - 15rem) min-content min-content 40vw repeat(
				3,
				min-content
			);
	}
}
