.header {
	background-image: linear-gradient(
			rgba($color-secondary, 0.9),
			rgba($color-secondary, 0.9)
		),
		url("../Img/hero.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

	color: $color-grey-light-1;
	grid-column: full-start / col-end 6;

	display: grid;
	grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
	grid-template-columns: minmax(min-content, max-content);
	gap: 7rem;
	align-items: center;
	justify-content: center;

	@media only screen and (max-width: $bp-medium) {
		grid-column: full-start/ -1;
	}

	&__logo {
		width: 15rem;
		height: 3rem;
		justify-self: center;
	}

	&__heading {
		font-size: 5rem;
	}
	&__btn {
		&:link,
		&:visited {
			text-decoration: none;
			width: max-content;
			margin: 1rem 0;
			display: block;
			text-align: center;
			align-self: start;
			justify-self: start;
			cursor: pointer;
		}
		&:hover {
			background-color: $color-primary-dark;
		}
	}

	&__footer {
		width: 100%;
		margin-top: 5rem;

		&-line {
			text-align: center;
			font-size: 1.4rem;
			display: block;
			position: relative;
			margin-bottom: 3rem;
			&::before,
			&::after {
				content: "";
				background-color: #fff;
				width: 40%;
				height: 1px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}
	}

	&__brands {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 3rem;
		width: 100%;
		justify-items: center;
		align-items: center;

		& > * {
			max-height: 2.5rem;
			max-width: 100%;
			filter: brightness(70%);
		}
	}
}
