.realtors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80vh;

  background-color: $color-secondary;

  &__title {
    color: $color-primary-dark;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 300;
  }

  &__item {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    &-img {
      width: 7rem;
      border-radius: 50%;
    }

    &-name {
      color: $color-grey-light-1;
      font-size: 2rem;
    }

    &-sold {
      color: $color-grey-light-1;
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: -0.2rem;
    }
  }
}
