*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px , 10px/16px = 62.5%
}

body {
  font-weight: 300;
  font-family: $font-primary;
  color: $color-grey-dark-2;
  line-height: 1.7;
  margin: 0 auto;
}
